{% extends "base.html" %}

{% block body %}
    {% if current_user.is_authenticated() %}
    {% if invs %}
        <h3>Created invitations</h3>
        <table class="table table-condensed">
            <thead>
                <th>Creator</th>
                <th>Created for</th>
                <th>Token</th>
                <th>Status</th>
            </thead>
            {% for i in invs %}
            <tr>
                <td>{{ i.creator }}</td>
                <td>{{ i.created_for_mail }}</td>
                <td><a href="{{ url_for('invite_redeem', invite_token=i.token)
                        }}">{{ i.token }}</a></td>
                <td>{{ i.get_state().value }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h3>Create a new invitation</h3>
    <form method="post" action="{{ url_for('invite_create') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="{{ form.creator.name }}">
                {{ form.creator.label}}
            </label>
            {{ form.creator(class="form-control", value=current_user.name) }}
        </div>
        <div class="form-group">
            <label for="{{ form.created_for_mail.name }}">
                {{ form.created_for_mail.label}}
            </label>
            {{ form.created_for_mail(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-success">Create invitation</button>
    </form>

    <h3>Accounts in LDAP</h3>
    <table class="table table-condensed">
        <thead>
            <th>Real name</th>
            <th>UID</th>
        </thead>
        {% for member in members %}
            <tr>
                <td>{{ member.get('cn')[0] }}</td>
                <td>{{ member.uid[0] }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <div>Please log in to view more stuff.</div>
    {% endif %}
{% endblock %}
