{% extends "base.html" %}

{% block body %}
    {% if invs %}
        Created invitations:
        <ul>
    {% for i in invs %}
    <li>{{ i.creator }} / {{ i.created_for_mail }} / <a href="{{ url_for
        ('invite_redeem', invite_token=i.token) }}">{{ i.token }}</a></li>
    {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{{ url_for('invite_create') }}">
        {{ form.csrf_token }}
        {{ form.creator.label }}: {{ form.creator }}<br>
        {{ form.created_for_mail.label }}: {{ form.created_for_mail }}<br>
        <button type="submit">Create invitation</button>
    </form>
{% endblock %}